<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/global.css">
    <link rel="stylesheet" href="../../static/matches/matches.css">
    <title>Title</title>
</head>
<body>
    <div class="contestant-card">
        <div class="champion-icon-div">
            <img class="champion-icon-image" src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ahri_0.jpg">
        </div>
        <div class="summoner-name-and-level">Slimoje lv. 34</div>
        <div class="champion-name">Ahri</div>
        <div class="team-role">Jungler</div>
        <div class="k-d-a">K/D/A</div>
        <div class="k-d-a-value">19/237/48</div>
    </div>
</body>
</html>