<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <link rel="stylesheet" href="../../static/global.css">
    <link rel="stylesheet" href="../../static/matches/matches.css">
    <link rel="stylesheet" href="../champions/champions.css">
</head>
<body>
<nav>

    <ul>
        <a href="../index.html">
            <img id="logo" src="https://cdn.icon-icons.com/icons2/3053/PNG/512/league_of_legends_macos_bigsur_icon_190030.png" alt="lol-project-logo">
        </a>
        <li>

        </li>
        <li>
            <a id="nav-summoners" href="../summoners/summoners.html">Summoners</a>
        </li>
        <li>
            <a id="nav-matches" href="../matches/matches.html">Matches</a>
        </li>
        <li>
            <a id="nav-champions" href="../champions/champions.html">Champions</a>
        </li>
    </ul>
</nav>
<a href="./match.html?matchId=1">
    <p class="match-test">Match 1</p>
</a>

</body>
</html>