<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <link rel="stylesheet" href="../../static/global.css">
</head>
<body>
<nav>
    <a href="../index.html">
        <img id="logo" src="https://cdn.icon-icons.com/icons2/3053/PNG/512/league_of_legends_macos_bigsur_icon_190030.png" alt="lol-project-logo">
    </a>
    <a href="../summoners/summoners.html">Artists</a>
    <a href="../matches/matches.html">Galleries</a>
    <a href="../champions/champions.html">Paintings</a>
</nav>

</body>
</html>