<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <link rel="stylesheet" href="../../static/global.css">
    <link rel="stylesheet" href="../../static/matches/matches.css">
    <link rel="stylesheet" href="../champions/champions.css">
</head>
<body>
<nav>

    <ul>
        <a href="../index.html">
            <img id="logo" src="../../static/lol-logo.png" alt="lol-project-logo">
        </a>
        <li>

        </li>
        <li>
            <a id="nav-summoners" href="../summoners/summoners.html">Summoners</a>
        </li>
        <li>
            <a id="nav-matches" href="../matches/matches.html">Matches</a>
        </li>
        <li>
            <a id="nav-champions" href="../champions/champions.html">Champions</a>
        </li>
    </ul>
</nav>

<table>
    <thead>
        <tr>
            <td>Match</td>
            <td>Starting day</td>
            <td>Starting time</td>
            <td>Winner</td>
        </tr>
    </thead>
    <tbody id="matches-tbody"></tbody>
</table>

<script src="matches.js"></script>

</body>
</html>