.match-element{
    float: left;
}

.match-button{
    margin: auto;
}

.contestant-card{
    width: 28em;
    height: 7em;
    border: 3px solid lightblue;
}

.champion-icon-div{
    float: left;
    width: 11.4em;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.champion-icon-image{
    max-width: 100%;
}

#red-team-div{
    border-right: 3px solid purple;
    padding-right: 5em;
}

#red-team-headline{
    color: red;
}

#blue-team-div{
    border-left: 3px solid purple;
    padding-left: 5em;
}

#blue-team-headline{
    color: blue;
}

#match-body-div{
    align-items: center;
    float: left;
}