<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="champions.css">
    <title>Champion</title>
</head>
<body>
    <p id="p-name">Name:</p>
    <h1 id="champion-name">Name:</h1>
    <p id="p-lore">Lore:</p>
    <h2 id="champion-lore"></h2>
    <p id="p-role">Role:</p>
    <h3 id="champion-role"></h3>
    <p id="p-difficulty">Difficulty:</p>
    <h4 id="champion-difficulty"></h4>

    <form id="back-btn" style="text-align:center">
        <input type="button" value="Go back!" onclick="history.back()" style="font-size: 40px;">
    </form>

<script src="champion.js"></script>
</body>
</html>